/**
 * Base Styles
 */

html{
	font-family:"gotham-light";
	font-weight:200;
	font-size: 19px;
	line-height:34px;
	background-color:#fff;
	height:100%;
	overflow:auto;
	height: auto;
	color:#444;
}

body{
	height:100%;
	overflow:hidden;
}

h1,h2,h3,h4,h5,h6,strong,b{
	margin:0;
	font-weight: normal;
	color:#444;
}

h1{
	font-size:30px; line-height:38px;
}

h2{
	font-size:24px; line-height:29px;
}

h3{
	font-size:16px; line-height:20px;
}

a:link, a:visited{
	color:#777;
}

a:hover{
	color:#222;
}

.video-anchor-link{
	position: absolute;
	bottom:60px;
	left:0; width:100%;
	text-align:center;
	z-index:5;

	a{
		text-decoration: none;
		display: block;

		span.arrow{
			display: inline-block;
			border-left: 6px solid transparent;
			border-right: 6px solid transparent;
			border-top: 8px solid #CCC;
			vertical-align: middle;
		}

		span.label{
			font-size: 15px;
			line-height: 8px;
			font-family: "gotham-book";
			vertical-align: middle;
			display: block;
			color:#EEE;
			margin:0 0 0 10px;
		}

		&:hover{
			span.arrow{
				border-top: 8px solid #FFF;
			}

			span.label{
				color:#FFF;
			}
		}
	}
}

#header-container{
	// position:fixed;
	width:100%;
	top:0;
	// background:$cfmred;
	background: transparent;
	z-index:6;
	border-top: 25px solid $cfmred;

	@include clearfix();

	.header-inner{
		position: relative;
		padding:0 4px 0 20px;

		@media( min-width:$tablet-small){
			padding:0 40px 0 40px;
		}
	}

	div#page-labels{
		font-family: "gotham-light";
		margin-top:2px;
		float: left;
		height: 48px;
		overflow: hidden;
		display: none;

		@media( min-width:$tablet-small){
			display: block;
		}

		ul{
			position: relative;
			list-style:none;
			margin:0; padding:0;
			text-align: right;
			
			@include prefix( "transition", margin-top .4s);
			@include prefix( "transition-delay", 1s);

			li{
				color: rgba(255,255,255,.7);
				font-size: 15px;
				margin:0; padding:0;
				opacity:0; text-align: right;
				line-height:48px;
				text-transform: uppercase;

				@include prefix( "transition", opacity .4s);

				&.active{
					@include prefix( "transition-delay", 1s);

					opacity:1;
				}
			}
		}
	}
}

div.logo-white, div.logo-black{
	position: relative;
	// margin: 13px 12px 14px 0;
	// float: left;
	width: 98px;
	height: 141px;
	margin: auto;
	// z-index: 10;
	

	a{
		position: absolute;
		left:0; top:0;
		width:100%; height: 100%;
		background-repeat:no-repeat;
		background-size: 98px 141px;

		// @include image-2x( "../img/cfm_logo_2x.png", 210px, 27px );
	}
}

div.logo-white {
	a {
		background-image: url( ../img/x3_logo_white.png );
	}

	margin-top: 0;
}

div.logo-black {
	a {
		background-image: url( ../img/x3_logo_black.png );
	}

	margin-top: 20px;
}

div.title-label {
	text-transform: uppercase;
	font-family: 'gotham-book';
	text-align: center;
	margin: 40px auto 0 auto;
}

.label-line {
	border-top: 2px solid #111;
	width: 40px;
	display: inline-block;
	height: 10px;
}

.red-gradient {
	position: absolute;
	width: 100%;
	height: 100%;
}

.line-arrow{
	display:inline-block;
	width:6px; height:14px;
	background-image:url(../img/arrow.png);
	background-size:12px 28px;
	background-repeat:no-repeat;
	vertical-align:middle;
	margin:-2px 8px 0 0;

	&.line-arrow-right{
		background-position:0 -14px;
		margin:-2px 0 0 8px;
	}
}

.menu-open{
	#header-container{
		border-bottom:0 solid #ddd;
	}
}

#page-container{
	opacity:0;
	// padding-top:54px;
	background-color:#FFF;

	.page-header-navigation, .page-footer-navigation{
		background-color: $cfmred;
		border-bottom: 1px solid #fff;

		.page-header-inner, .page-footer-inner{
			padding: 0;

			@media( min-width:601px){
				padding:0 20px;
			}
			
			@media( min-width:$tablet-large){
				padding:0 40px 0 40px;
			}

			.cfm-project-naviation{
				a{
					font-size: 15px;
					font-family: "gotham-light";
					text-decoration:none;
					color:#AAA;
				}
			}
		}
	}

	.page-header{
		padding:20px;

		@media( min-width:$tablet-small){
			padding:20px 80px;
		}

		@media( min-width:$tablet-large){
			padding:20px 120px;
		}

		.page-header-inner{
			h1,h2,h3{
				margin:0 0 20px 0;
				font-family:"gotham-book";
			}

			p{
				margin:4px 0 30px 0;
			}

			.page-header-description{
				@media( min-width:$desktop){
			    	@include prefix("column-count", 2);
			    	@include prefix("column-gap", 40px);
				}

				p{
					@include prefix("column-break-inside", "avoid");
					margin:0 0 10px 0;
				}
			}
		}
	}

	// OVERLAY
	/* Effects */
	.overlay-scale {
		position: fixed;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		background: rgba(102,102,102,0.9);
		z-index: 99;
		overflow-y: scroll;

		visibility: hidden;
		opacity: 0;
		-webkit-transform: scale(0.9);
		transform: scale(0.9);
		-webkit-transition: -webkit-transform 0.2s, opacity 0.2s, visibility 0s 0.2s;
		transition: transform 0.2s, opacity 0.2s, visibility 0s 0.2s;
	}

	.overlay-scale.open {
		visibility: visible;
		opacity: 1;
		-webkit-transform: scale(1);
		transform: scale(1);	
		-webkit-transition: -webkit-transform 0.4s, opacity 0.4s;
		transition: transform 0.4s, opacity 0.4s;
	}

	.video-overlay-inner {
		// overflow-y: scroll;
		position:relative;
		padding: 100px 20%;
		color: #fff;

		@media(max-width: $tablet-large) {
			padding: 60px 10%;
		}

		// .people-name, .people-title {
		// 	opacity: .96;
		// 	font-family: "gotham-bold";
		// 	line-height: 26px;
		// 	text-transform: uppercase;
		// 	font-size: 26px;
		// 	margin: 10px 0;
		// 	@media (max-width: 520px) {
		// 		font-size: 22px;
		// 		margin: 6px 0;
		// 	}
		// }
		// .people-title {
		// 	color: #a00;
		// }
		// .people-name  {
		// 	color: #ddd;
		// }

		.overlay-close {
			cursor: pointer;
			width: 40px;
			height: 40px;
			position: absolute;
			right: 1%;
			top: 100px;
			overflow: hidden;
			border: none;
			background: url(../img/cross.png) no-repeat center center;
			background-size: 40px 40px;
			// text-indent: 200%;
			color: black;
			outline: none;
			z-index: 100;

			@media(max-width: $tablet-large) {
				top: 10px;
			}
		}
	}
}

#footer-container{
	background-color: $cfmred;
	font-family: 'gotham-book';
	font-size: 0.75em;
	text-transform: uppercase;
 	padding: 20px 30px 10px 30px;
 	position: relative;
 	color:#fff;
 	opacity: 0;


 	a{
 		color:#fff;
 		text-decoration: none;
 	}

 	p{
 		line-height:27px;
 		display: inline-block;
 		padding: 0 20px;
 		vertical-align: top;
 	}

 	.social-navigation {
 		display: inline-block;
 		margin-top: 10px;
 		position: absolute;
  		right: 30px;
 	}

 	.cfm-logo-footer{
 		display: inline-block;
 		width:60px;
 		height: 60px;
 		background:url(../img/x3_logo_footer.svg);
 		background-size:60px 60px;
 		opacity: .9;
 		margin: 10px 20px;
 	}

 	@media( max-width:867px){ 
 		text-align: center;
		p {
			display: block;
		}

		.cfm-logo-footer {
			display: block;
			margin: auto;
		}

		.social-navigation {
			
			display: block;
			position: static;

		}

	}
}

div.section-header{
	background-color:#FFF;

	h2{
		text-transform: uppercase;
		font-family: "gotham-book";
		font-size: 19px;
		line-height: 24px;
		color: #CCC;
		padding:40px 0 40px 0;
		text-align: center;
	}
}

div.cfm-project-gallery{
	margin:0 0 0 0;
	padding:0 0;
	background: transparent;
	border:none;

	ul{
		margin:0;

		li{
			@media( min-width:700px){ width:50%; }
 			@media( min-width:$desktop-large){ width:33.33334%; }

			div.project-inner{
				padding:0;

 				a{
 					background-size:100.5%;
 					background-color: #FFF;
				}
			}
		}
	}
}

.cfm-videoplayer
{
	background-color:#000;

	.cfm-videoplayer-inner{
	}
	video{
	}
	video.cfm-videoplayer-desktop{
	}
	.cfm-videoplayer-poster{
		.cfm-videoplayer-poster-header{
			.cfm-videoplayer-poster-header-inner{
				h1,h2,h3{
				}
				p{
				}
				.page-header-description{
					p{
					}
				}
			}
		}
		.cfm-videoplayer-playbutton{
			border-color:$cfmred;

			span.arrow{
			}
			span.label{
				display: none;
			}
		}
		&:hover{
			.cfm-videoplayer-playbutton{
				span.arrow{
				}
			}
		}
	}
	video.cfm-videoplayer-mobile{
	}
	div.cfm-video-controls{
		ul{
			li.cfm-video-btn{
				&:first-child{
				}
				&.cfm-video-play-pause-btn{
				}
				&.cfm-video-mute-btn{
				}
				&.cfm-video-fullscreen-btn{
				}
				&.active{
				}
				&:hover{
				}
			}
		}
		.cfm-video-progress-container{
			.cfm-video-seek-bar-input{
			}
			.cfm-video-seek-bar{
				background-color: $cfmred;
			}
		}
	}
}

div.social-navigation{

	ul{
		display: inline-block;
		margin:0 auto;
		list-style: none;
		padding:0;

		@include clearfix;

		li{
			float: left;
			width:50px;

			div.project-inner{
 				a{
 					display: block;
	 				padding-bottom: 100%;
	 				background-size:50px 100px;
	 				background-position: 0 0;
	 				background-repeat: no-repeat;

 					div.project-label{
						display: none;
					}

					&:hover{
						background-position:0 -50px;
					}
				}
			}

			&.facebook-btn{
				div.project-inner{
					a{
						background-image:url(../img/facebook_icon.png);
					}
				}
			}

			&.twitter-btn{
				div.project-inner{
					a{
						background-image:url(../img/twitter_icon.png);
					}
				}
			}
		}
	}
}

.cfm-navigation
{
	ul{
		li{
			display:block;

			@media( min-width:$tablet-small ){ display:inline-block; }

			a{
			}

			&:hover, &.active{
				a{
				}
			}
		}
	}

	&.mobile-menu{
		position: fixed;
		top: 0; left: 0;
		width: 100%; height: 100%;
		z-index: 5;
		top:100%;
		opacity: 0;
		background: $cfmred;
		padding-top: 45px;

		@include prefix( "transition", opacity .4s);

		.mobile-menu-inner{
			height: 100%;
			background: $cfmred;

			ul{
				position: absolute;
				width: 100%;
				left:0; margin:-90px 0 0 0;
				top: 50%;

				li{
					margin:0; padding:0;
					display: block;

					a{
						background:$cfmred;
						margin:0; padding:0;
						display: block;

						h1{
							color: #fff;
							font-family:"gotham-book";
							margin:0; padding:0;
							font-size: 20px;
							line-height: 40px;

							@media(min-height:$tablet-small){
								font-size: 34px;
								line-height: 70px;
							}
						}
					}

					&:hover{
						a{
							background:#222;
							border:none;

							h1{
								color: #FFF;
							}
						}
					}
					&.active{
						a{
							background:#222;
							border:none;
							
							h1{
								color: #FFF;
							}
						}
					}
				}

				@media(min-height:$tablet-small){
					margin:-200px 0 0 0;
				}

				@media(min-height:$tablet-large){
					top: 50%;
				}
			}
		}
	}
}

.menu-open{
	.mobile-menu{
		top:0; opacity:1;

		.mobile-menu-inner{
			ul{
			}
		}
	}
}
