/**
 * About Page Styles
 */

 div#about-page{
 	padding:0;

 	h1 {
		color: $cfmred;
		text-align: center;
		font-family: 'gotham-book';
		text-transform: uppercase;
	}

	.page-sub-header {
		margin: 30px auto;
	}

 	#arrow-right {
		width: 0; 
		height: 0; 
		border-top: 10px solid transparent;
		border-bottom: 10px solid transparent;
		
		border-left: 10px solid #111;
		background-image: none;
	}

	#arrow-left {
		width: 0; 
		height: 0; 
		border-top: 10px solid transparent;
		border-bottom: 10px solid transparent; 
		
		border-right:10px solid #111; 
		background-image: none;
	}

 	#about-slider {
 		background-color: #b6b6b8;

	  	.bottom-line {
	 		height: 10px;
	 		border-top: 1px solid #111;
	 		display: inline-block;
	 		width: 40px;
	 		margin: auto;
	 	}

		.center-table > div {
		  width: 50%;
		  display: block;
		  margin: 0 auto;
		}

		.center-table > div img {
		  width: 100%;
		  display: block;
		}

		.center-table {
		  display: table;
		  height: auto;
		  width: 100%;
		  border-collapse: collapse;
		}

		.center-table > div {
		  width: auto;
		}

		@media (min-width: 768px) {
		  
		  .center-table > div {
		    display: table-cell;
		    margin: 0;
		    width: 50%;
		    vertical-align: middle;
		  }

		}

	 	.img-container {
			width: auto;

			@media(min-width: 768px) { width:42.857143%; }
			
			img {
				margin: 0 auto; 
				width: auto; 
				max-width: 200px;
				height: auto; 
				max-height: 200px;

				@media(min-width: 480px) {
					max-width: 275px; 
					max-height: 275px;
				}

				@media(min-width: 768px) { 
					max-width: 687px; 
					max-height: 687px;
					width: auto; 
					float: right;
					padding-right: 1em; 
				}
			}
		}

		.txt-container {
			width:auto;
			text-align: center;

			@media(min-width: 768px) { width:57.142857%; }

			.txt-wrapper {
				padding: 40px 0;

				.people-title {
					font-family: 'gotham-book';
				}

				.people-name {
					font-family: 'gotham-bold';
				}

				p {
					font-size: 0.78em; 
					letter-spacing: 0.04em;
					line-height: 1.5em;
					margin: 1em auto;
					padding-right: 60px;
					padding-left: 40px;
					max-width: 687px;
				}
				@media(min-width: 768px) {
					float: left;
				}
				
				@media(min-width: 1100px) {
					p { font-size: 0.875em;}
				}

			}
		}


 	}

 	.crew-container {
 		width: 100%;
 		background-position: center center;
 		background-repeat:  no-repeat;
 		background-size: cover;
 		height: 0;
 		padding-bottom: 45%;
 	}

 	.stage-container, .camera-container {
 		width: 50%;
 		background-position: center center;
 		background-repeat:  no-repeat;
 		background-size: cover;
 		height: 0;
 		padding-bottom: 50%;
 		display: inline-block;
 		vertical-align: top;

 		@media(max-width: $tablet-small) {
			width: 100%;
			padding-bottom: 100%;
		}
 	}

 	div.services{
		padding:0 0 80px 0;

		div.services-section{
			-webkit-column-break-inside: avoid;
	 		page-break-inside: avoid;
	       	break-inside: avoid;
       		vertical-align: top;
       		padding:20px 20px 20px 20px;

       		@media(min-width:$tablet-small){
       			padding:20px 40px 20px 40px;
       		}
       		
       		@media(min-width:$tablet-large){
       			padding:20px 80px 20px 80px;
       		}

       		h2{
       			font-family: "gotham-book";
       			padding:14px 0;
       		}

       		&:nth-child(even){
       			border-top:1px solid #eee;
       			border-bottom:1px solid #eee;

       			h2{
		    	}
       		}

	 		ul{
	 			list-style: none;
	 			padding:0; margin:10px 0 20px 0;

		    	@media(min-width:$tablet-large){
		       		@include prefix("column-count", 2);
		    		@include prefix("column-gap", 10px);
		       	}

	 			li{
	 				-webkit-column-break-inside: avoid;
	         		page-break-inside: avoid;
	               	break-inside: avoid;	

	 				width:100%;
	 				height: auto;
	 				vertical-align: top;
	 			}
	 		}
	 	}
 	}
 }